/*<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />*/

* {
    margin: 0;
    padding: 0;
}
.section-p1{
    padding: 40px 80px;
}
/* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(29, 31, 32);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}
 #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
 }
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(230, 240, 88);
}
#navbar li a.active::after,
#navbar li a:hover::active{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    background-color: chartreuse;
    left: 20px;

}

/* Home Page*/

#hero{
    background-image: url("img/hero/h1.jpg");
    height: 90vh;
    max-width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1{
    padding-bottom: 15px;
    color: crimson;
}

#hero button{
    /*background-image: url("img/Skateboard/skb1.jpg");*/
    background-color: rgb(66, 65, 65);
    color:white;
    border: 0;
    padding: 14px 30px 14px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
}
#hero button:hover{
    background-color: black;
    color: white;
}
/* Brands */

#brands{
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color:white;

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    height: auto;
    text-align: center;

}
.container h1{
    padding: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    color: black;

    
}
.row{
    max-width: 100%;
    height: auto;

}
.row .img-fluid{
    padding: 15px;
    margin: 10px;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 100px;
    height: 80px;
}
/* Banner*/

#banner{
    background-image: url("img/hero/h2.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h3{
    font-size: 50px;
    color: rgb(230, 240, 88);
    padding-top: 20px;
    
}
#banner h3:hover{
    color: rgb(255, 255, 255);
}
#banner button{
    height: 60px;
    width: 170px;
    background-color: rgb(29, 31, 32);
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 15px;
    
}
#banner button:hover{
    color: rgb(230, 240, 88);
}
#banner .container1{
    margin: 180px;
    padding: 180px;
}

#banner2{
    
    background-image: url("img/hero/h3.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner2 h3{
    font-size: 50px;
    color: rgb(255, 254, 254);
    padding-top: 20px;
    
}
#banner2 h3:hover{
    color: rgb(209, 201, 201);
}
#banner2 button{
    height: 60px;
    width: 170px;
    background-color: rgb(29, 31, 32);
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 15px;
    
}
#banner2 button:hover{
    color: rgb(199, 98, 16);
}
#banner2 .container1{
    margin: 680px;
    padding: 180px;
}
#banner3{
    
    background-image: url("img/hero/h6.jpg");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner3 h3{
    font-size: 50px;
    color: rgb(185, 59, 42);;
    padding-top: 20px;
    
}
#banner3 h3:hover{
    color: rgb(255, 255, 255);
}
#banner3 button{
    height: 60px;
    width: 170px;
    background-color: rgb(29, 31, 32);
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 15px;
    
}
#banner3 button:hover{
    color: rgb(182, 178, 175);
}
#banner3 .container1{
    margin: 50px;
    padding: 120px;
}
#banner4{
    
    background-image: url("img/hero/h8.avif");
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: top  center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner4 h3{
    font-size: 50px;
    color: rgb(218, 214, 210);
    padding-top: 20px;
    
}
#banner4 h3:hover{
    color: rgb(70, 69, 69);
}
#banner4 button{
    height: 60px;
    width: 170px;
    background-color: rgb(29, 31, 32);
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 15px;
    
}
#banner4 button:hover{
    color: rgb(138, 35, 35);
}
#banner4 .container1{
    margin: 800px;
    padding: 180px;
}
    
     /*Subjects*/
     #subjects h1{
        position: relative;
        text-align: center;
        color: #444;
        margin-top: 40px ;
     }
#subjects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    margin-top: 30px;
  }
  
  #subjects .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    border: #12c2b9;
    background: #dbfffe;
    cursor: pointer;
  }
  
  #subjects .box-container .box:hover{
    background: rgb(92, 91, 91);
  }
  
  #subjects .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
  }
  
  #subjects .box-container .box h3{
    font-size: 1.7rem;
    color: #444;
    padding: .5rem 0;
    text-transform: capitalize;
  }
  
  #subjects .box-container .box:hover h3{
    color: #fff;
  }
  
  #subjects .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  
  #subjects .box-container .box:hover p{
    color: #eee;
  }
#newsletters{
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(img/hero/h1.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #444;
}
#newsletters h4{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
#newsletters p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(230, 240, 88);
}
#newsletters .newstext{
    padding: 50px;
    margin: 50px;
    margin-left: 170px;

}
#newsletters .form{
    padding: 50px;
    margin: 50px;
    margin-right: 150px;
   
}
#newsletters input{
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletters button{
    height: 40px;
    width: 80px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgb(230, 240, 88);
    color: #444;
    white-space: nowrap;


}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    padding-right: 4px;
    cursor: pointer;

}
footer .install .row img{
    border: 1px solid #444;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover
{
    color: #12c2b9;
}
footer .copyright{
    width: 100%;
    text-align: center;
}





/* ***************  SHOP PAGE ************** */
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #444;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #12c2b9;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;   
}
#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
   padding-top: 7px;
   font-size: 15px;
   font-weight: 700;
   color: #12c2b9;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: white;
    font-weight: 500;
    color: #12c2b9;
    border: 1px solid wheat;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* ****** Surfboard Product ********** */
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-size: 20px;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
} 
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: rgb(40, 129, 32);
    color: #fff;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 15px;
}   
#prodetails .single-pro-details span{
    line-height: 25px;

}
/*#aral覺k{
    top: 10px;
    bottom: 10px;
}*/
#aral覺k img{
    background-color: black;
    padding: 30px 0 30px 0;
    height: 20vh;
    max-width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
#aral覺k1 img{
    background-color: black;
    padding: 30px 0 30px 0;
    height: 20vh;
    max-width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
#aral覺k2 img{
    background-color: black;
    padding: 30px 0 30px 0;
    height: 20vh;
    max-width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

/* ************* CONTACT PAGE *************** */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(80, 79, 79);

}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 12px;
    color: white;

}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    color: white;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
    color: white;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
    color: white;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
    color: white;
}
#contact-details .map{
    width: 55%;
    height: 400px;

}
#contact-details .map iframe{
    width: 100%;
    height: 100%;

}